@theme inline {
    --color-footer: var(--footer);
    --ease-spring: cubic-bezier(0.22, 1, 0.36, 1.2);
}

:root {
    --footer: oklch(0.141 0.005 285.823);
}

.dark {
    --footer: oklch(17.853% 0.0041 285.914);
}